// colors
$color-primary-light:#7ed56f;
$color-primary:#55c57a;
$color-primary-dark:#28b485;
$color-grey:#777;
$color-white:#fff;
$root_font_size:62.5%;
$color-grey-light-1:#f7f7f7;
$color-black:#000;

//font-sizes
$default-font-size:1.6rem;

// grid system
$grid-width:124rem;
$row-y:8rem;
$column-x:6rem;
