.heading-primary{
  color: $color-white;
  text-transform: uppercase;
  margin-bottom: 60px;

  &--top{
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;
    animation-name: moveFromLeft;
    animation-duration: 1s;
    animation-delay: 2s;
  }

  &--bottom{
    display: block;
    font-size: 2rem;
    letter-spacing: 1.74rem;
    font-weight: 400;
    animation-name: moveFromRight;
    animation-duration: 1s;
    animation-delay: 2s;
  }
}