.heading-primary{
  color: $color-white;
  text-transform: uppercase;
  margin-bottom: 60px;

  &--top{
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;
    animation-name: moveFromLeft;
    animation-duration: 1s;
    animation-delay: 2s;
  }

  &--bottom{
    display: block;
    font-size: 2rem;
    letter-spacing: 1.74rem;
    font-weight: 400;
    animation-name: moveFromRight;
    animation-duration: 1s;
    animation-delay: 2s;
  }
}

.heading-secondary {
  font-size: 3.5rem;
  font-weight: 700;
  background-image:linear-gradient(to right,$color-primary-light,$color-primary-dark);
  display: inline-block;
  -webkit-background-clip:text;
  color:transparent;
}

.heading-tertiary{
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph{
  font-size: $default-font-size;

  &:not(:last-child){
    margin-bottom: 3rem;
  }

}

